<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>iPhone 6 Apple Retail Store Stock Checker</title>

    <link rel="stylesheet" href="/css/yeti/bootstrap.min.css">

    <style type="text/css">
      body {
        padding-top: 0px;
        padding-bottom: 0px;
      }
      .row {
        padding-top:35px; padding-bottom:35px;
      }
      @media (min-width: 768px) {
        .container {
          max-width: 730px;
        }
      }
    </style>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container-fluid">
      <div class="row">
        <div class="container">
          <div class="col-lg-12 text-center">
            <h1>iPhone 6 Stock Checker</h1>
            <p class="lead">The iPhone 6 and iPhone 6 Plus are available for Reserve and Pick Up at the following Apple Retail Stores...</p>
          </div>
        </div>
      </div>

      <div class="row" style="background:#f2f2f2;">
        <div class="container">
          <div class="col-lg-6">
            {{#evenAvailability}}
            <h3>{{store}}</h3>
            {{#products}}
            <p>{{.}}</p>
            {{/products}}
            {{/evenAvailability}}
          </div>
          <div class="col-lg-6">
            {{#oddAvailability}}
            <h3>{{store}}</h3>
            {{#products}}
            <p>{{.}}</p>
            {{/products}}
            {{/oddAvailability}}
          </div>
          {{^availability}}
          <div class="col-lg-12">
            <h3>No availability just now - please check back later</h3>
          </div>
          {{/availability}}
        </div>
      </div>

      {{#availability}}
      <div class="row text-center" style="background:#B2B2B2;">
        <div class="container">
          <p class="lead">Found the iPhone you were looking for?</p>
          <p><a href="https://reserve.cdn-apple.com/GB/en_GB/reserve/iPhone/availability" class="btn btn-primary btn-lg">Reserve for Pick Up now &gt;</a></p>
        </div>
      </div>
      {{/availability}}

      <div class="row" style="background-color:#222; color:#ccc;">
        <div class="container">
            <p>Last updated {{updated}}.</p>
        </div>
      </div>

      <div class="row" style="background-color:#333; color:#777;">
        <div class="container">
          <p>&copy; CheckRaise I.T. Ltd. 2014</p>
        </div>
      </div>

    </div> <!-- /container -->

  </body>
</html>
